body{
background-color: black;
}
h1{
text-transform: uppercase;

}
.poster{
    color: white;
    width: 50%;
    margin: 25%;
    margin-top: 100%;
    text-align: center;
}

img{
    border: 5px solid white;
    width: 100%;
}